places
smex-items
ede-projects.el
*.elc
semanticdb/
.mc-lists.el
ido.last
auto-save-list/*
backups/*
elpa/*
yasnippet-go/
recentf/
\#*
projectile-bookmarks.eld
recentf
url/
ac-comphist.dat
eshell/history
